$darker: #2F2F2F;
$dark: #444;
$medium: #535353;
$light: #BBB;
$lighter: white;

$active-bg: #0781bd;
$thick-border: 1px solid $medium;
$thin-border: 1px solid $medium;
$border-radius: .25em;
$button-hover: $active-bg; //#31bbff;

$fa-font-path: "fonts";
@import "font-awesome";

.highlight {
	color: $light;
	cursor:pointer;
	transition: all .25s;
	text-decoration:none;
}

.highlight:hover {
	text-decoration:underline;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

body, html {
	font-family: 'Open Sans', sans-serif;
	margin:0;
	padding:0;
}
body {
	font-size:80%;
	line-height:1.5em;
	color: $lighter;
	background-color: $darker;
}

ul, li {
	margin:0;
	padding:0;
	list-style:none;
}

#cloud-explorer .root {
	display:flex;
	flex-direction:column;
	flex-wrap:nowrap;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	padding:1em;
}

#cloud-explorer .files {
	flex-grow:10;
	display:flex;
	flex-direction:column;
	background-color: $dark;
}

#cloud-explorer .files input {
	border:0;
	outline:0;
	margin:0;
	padding:0;
}

#cloud-explorer .files > section {
	flex-grow:10;
	overflow-y:scroll;
	border: $thick-border;
	border-radius: $border-radius;
}

#cloud-explorer .files > li {
	@extend .noselect;
	border-bottom: $thin-border;


	& label {
		flex-grow:10;
		font-weight:400;
	}

}

#cloud-explorer ul.inline-button-bar {
	opacity:0;
	display:flex;
	flex-direction:row;
	& li {
		@extend .highlight;
		padding:0 1em;
		a:link {
			@extend .highlight;
		}
	}
}

#cloud-explorer ul.files > li:hover .inline-button-bar,
#cloud-explorer ul.files > li.selected .inline-button-bar {
	opacity:1;
}

#cloud-explorer .files .file-list-item {
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;

	& > .inline-button-bar {
		& .disabled {
			display: none;
		}
	}
}

/* basic style for demo */
/*#cloud-explorer li,*/
#cloud-explorer .buttons.panel li,
#cloud-explorer .breadcrumbs.panel li,
#cloud-explorer .upload.button {
	@extend .highlight;

	&.disabled {
		cursor: default;
		color: $light;
		opacity: .6;
		&:hover  {
			text-decoration:none;
			color: $light;
		}
	}
}


#cloud-explorer li.selected {
	cursor: default;
	background-color:$active-bg;
	color:$lighter;
	& .inline-button-bar li a:link,
	& .inline-button-bar li {
		color:$lighter;
		text-decoration: none;
	}
}
#cloud-explorer li.selected:hover {
	text-decoration:none;
}

#cloud-explorer .button-confirm .enabled,
#cloud-explorer .button-bar .enabled {
	/*color: blue;*/
}

#cloud-explorer .buttons.panel {
	display:flex;
	flex-direction:row;
	justify-content: space-between;
	flex-wrap:wrap;
	margin-bottom:-1em;
	min-height:4em;
}

#cloud-explorer .buttons.panel > section {
	/*flex-grow:1;*/
}

#cloud-explorer .buttons ul {
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content: center;
	margin-bottom:1em;
	text-align: center;
}

#cloud-explorer .buttons li {
	flex-grow:1;
	margin-left:-1px;
	padding:.5em 1em;
	border: $thin-border;
}
#cloud-explorer .buttons li:first-child {
	margin-left:0;
}

#cloud-explorer .buttons li.enabled:hover {
	text-decoration:none;
	background-color:$button-hover;
	border-color:$lighter;
	color:$lighter;
	z-index: 1; /* the border of buttons must be over the other buttons */
}

#cloud-explorer .buttons li:nth-last-child(1) {
	border-radius:0 $border-radius $border-radius 0;
}
#cloud-explorer .buttons li:nth-child(1){
	border-radius:$border-radius 0 0 $border-radius;
}

#cloud-explorer .files li.selected {
	background-color:$active-bg;
}

#cloud-explorer .files .icon {
	@extend .fa;
	display:inline-block;
	margin-right:1em;
}

#cloud-explorer .application.json.folder.icon {
	// service, really
	@extend .fa-plug;
}

#cloud-explorer .folder.icon {
	@extend .fa-folder-o;
}

#cloud-explorer .file.icon {
	@extend .fa-file-o;
}

#cloud-explorer .application.git-repo.icon {
	@extend .fa-github;
}

#cloud-explorer .application.git-branch.icon {
	@extend .fa-github-square;
}

.panel {
	padding:0 1em;
}

.panel h2 {
	text-transform: uppercase;
	color:$light;
	font-size:1em;
	margin:0 0 .5em 0;
	border-top: 1px solid transparent;
	border-bottom:1px solid $light;
	padding:.5em 1em;
}

.panel li {
	padding:.5em 1em;
}

.buttons h2,
.breadcrumbs h2,
.dialogs h2 {
	display:none;
}

.modal-dialog h2 {
	display:block;
}


.buttons.panel,
.breadcrumbs.panel,
.files.panel {
	padding:0;
	clear:right;
	zoom:1;
}

/*.buttons ul {
	border: 1px solid $light;
	float:left;
	margin-right:.5em;
	border-radius:.25em;
	margin:0 .5em .5em 0;
}*/

input, button {
	border-color:transparent;
	padding:.5em;
	background:transparent;
	color:inherit;
	font-size:inherit;
	font-family:inherit;
	display:inline-block;
	margin:0 .5em .5em .5em;
}

input {
	border-color:transparent;
	border-width:1px;
	border-bottom: 1px solid $light;
}

button {
	color:$light;
	border-radius:.5em;
	cursor:pointer;
	font-weight:600;
	text-transform:uppercase;
	transition:all .25s;
	padding:.5em 1em;
}

button:hover {
	background-color:$active-bg;
	color:$lighter;
}


#cloud-explorer .breadcrumbs {
	border:1px solid transparent;
}

#cloud-explorer .breadcrumbs li {
	display:inline-block;
	padding:.5em .5em;
	color:$dark;
}
#cloud-explorer .breadcrumbs li:last-child {
	color:$lighter;
	cursor:default;
	&:hover {
		color:$lighter;
		text-decoration:none;
	}
}

#cloud-explorer .breadcrumbs li:hover,
#cloud-explorer .upload.panel:hover
{
	@extend .highlight;
}
.breadcrumbs .icon {
	@extend .fa;
	margin-right:1em;
}
.breadcrumbs .home .icon {
	@extend .fa-home;
	margin-right:0;
	margin-left:.5em;
}

.loading .breadcrumbs .home .icon {
	@extend .fa-spin;
	@extend .fa-gear;
	color:orange;
}

.loading .files {
	opacity:0.5;
}

.loading.cached .files {
	opacity:1;
}

.breadcrumbs .folder .icon {
	@extend .fa-angle-right;
}

.dialogs {
	position:absolute;
	top:0;
	left:0;
	right:0;
}

.modal-dialog {
	border-radius:.25em;
	margin:1em auto;
	max-width:320px;
	background-color:rgba(0,0,0,.8);
	color:$lighter;
    box-shadow: 0 0 .5em $dark;

    clear:both;
	overflow:auto;
	zoom:1;
}

.modal-dialog button {
	float:right;
	clear:both;
}

.upload.button {
	padding:1em;
	text-align:center;
}

