// variables
$black: #222;
$darker: #2F2F2F;
$dark: #444;
$medium: #535353;
$light: #BBB;
$lighter: white;

$active-bg: #0781bd;
$thick-border: 1px solid $medium;
$thin-border: 1px solid $medium;
$border-radius: .25em;
$button-hover: $active-bg; //#31bbff;

$thumbnailSize: 256px;

// fonts
$fa-font-path: "fonts";
@import "font-awesome/scss/font-awesome.scss";
$FontPathOpenSans: "fonts";
@import "npm-font-open-sans/open-sans.scss";

// includes
@import "./default";
@import "./thumbnail-mode";

