@charset "UTF-8";

/* ----------------------------------------------------------
  Variables
---------------------------------------------------------- */

$color-default: #555;
$color-danger: #a94442;
$arrow-size: 8px;
